.main-menu-container {
    position: fixed;
}

.main-menu-container .main-menu__opener,
.main-menu-container .main-menu__closer{
    position: fixed;
    right: 30px;
    top: 20px;
    cursor: pointer;
}

.main-menu-container .main-menu{
    position: fixed;
    width: 0vw;
    height: 0vh;
    background:rgba(0,0,0,0.1);
    right: 0;
    top: 0;
    transition: 0.5s all;
    visibility: hidden;
}

.main-menu-container.main-menu-container--is-open .main-menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: white;
    transition: 0.3s all;
    visibility: visible;
}

.main-menu-container.main-menu-container--is-open .main-menu-container .main-menu__opener{
    display:none;
}