.markdown-editing-view {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background: grey;
    letter-spacing: 0.5px;
}

.markdown-editor {
    width: 50%;
    padding: 3em 5em;
    background: #d5d5d5;
    transition: all 0.3s;
    border: 10px solid #666;
    white-space: pre;
}


.markdown-viewer {
    width: 50%;
    padding: 3em 5em;
    background: #f5f5f5;
    transition: background-color 0.3s;
}