.markdown-editing-view {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background: grey;
    letter-spacing: 0.5px;
}

.markdown-editor {
    width: 45%;
    padding: 3em 5em;
    background: rgba(78, 88, 100, 1);
    color: white;
    transition: all 0.3s;
    white-space: pre;
    outline: 0;
}

.markdown-viewer {
    width: 55%;
    padding: 1em 5em;
    background: #E6E1DC;
    word-wrap: break-word;
    word-break: break-all;
    color: #100;
    transition: background-color 0.3s;
    line-height: 1.6;
}

.markdown-viewer h1,
.markdown-viewer h2,
.markdown-viewer h3,
.markdown-viewer h4 {
    margin: 0.2em 0;
    line-height: 1.2;
}
