@import url('https://fonts.googleapis.com/css?family=Lora:400,700|PT+Mono&subset=latin-ext');

body {
    font-family: 'Lora',Georgia,"Times New Roman", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 1px;
}